* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  @tailwind base;
@tailwind components;
@tailwind utilities;

  
  body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Playfair Display", serif;
    margin-bottom: 1em;
  }
  
  p {
    margin-bottom: 1em;
  }
  
  nav {
    background-color: rgb(2, 1, 46);
    border-radius: 2%;
    box-shadow: 50px;
  }
  
  nav a {
    display: inline-block;
    margin: 1rem 2rem;
    text-decoration: none;
    font-size: 1.2em;
    /* text color */
    color: whitesmoke; 
    /* line color */
    /* border-bottom: 2px solid firebrick; */
    transition: 0.1s;
  }
  nav a:hover,
  nav a:active {
    color: rgb(71, 255, 163);
    border-bottom: 2px solid rgb(3, 3, 3);
  }
  
  nav a.active {
    background-color: black;
    color: rgb(12, 88, 41);
  }
  
  #home {
    height: 100vh;
    min-height: 400px;
    background-color: grey;
  } 
  
  #home,
  
  #createAppointment,
  #appointment
   {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
  } 
  

  
 
  
 
  